html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html{
  background-color: black;
}

body{
    font-family: "Monsterrat", sans-serif;
    color: white;
}

header.prim{
    width:100%;
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: center;
    font-size:2rem;
    color: black;
    
    
}

header{
  background-image: url('../img/new-mars-background.jpg');
  background-size:cover;
  
}

html{
background-color: black;
}

h2{
  text-align:center;
}

header.prim nav ul {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

header.prim nav ul {
  list-style-type: none;
}

header.prim nav ul a{
  text-decoration:none;
}

header.prim nav ul a{
  color:whitesmoke;
  background-color: black;
  padding: 5px 8px;
  border-radius: 40px;
  transition: 1s;
}

#Beginning{
  text-align: center;
}

h6{
  text-align: center;
}

#faq{
  text-align: center;
}

#rover-type{
  color:brown;
}