html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html{
  background-color: black;
}

body{
    font-family: "Monsterrat", sans-serif;
    color: white;
}

header.prim{
    background-image: ;
    width:100%;
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: center;
    font-size:2rem;
    color: #610000;
    
}

html{
background-color: black;
}

h2{
  text-align:center;
}

header.prim nav ul {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

header.prim nav ul {
  list-style-type: none;
}

header.prim nav ul a{
  text-decoration:none;
}

#Beginning{
  text-align: center;
}
