/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*--------------Utility Classes-------------*/

.container{
  background: #D2B48C;
  width:80vw;
  margin:20px auto;
}

/*These are all fo image stuff - note */
.img-right{                           
  float:right;
  margin: 10px 0 10px 20px;
  border:2px double #D2B48C;
  padding: 5px
}

.img-left{
  float:left;
  margin: 20px auto;
  border: 2px double #000;
  padding: 5px;
}

.img-center{
  display:block;
  margin: 20px auto;
  border: 2px double #D2B48C;
  padding: 5px;
}

/*--------------Responsive Images-------------*/

img{
  max-width:100%;
}





/*----- Global Styles -----*/

html{
  background-color: #000;
}

body{
    font-family: "Monsterrat", sans-serif;
}

header.primary{
background-color: #D2B48C;
text-align:center;
color:#000;
padding: 40px;
/*long form*/
padding: 40px;
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
/*T,R,B,L */
padding: 20px 40px 20px 40px;
/*Two Value Top/Bottom / L/R */
padding: 20px 40px;
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 0 0;
}

header.primary h1 a{
  color:#D2B48C;
  text-decoration:none;
}

header.primary h2{
  font-size: 1.4rem;
  letter-spacing:.2px;
  margin:10px 0 0 0;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

header.primary nav ul{
  list-style-type:none;
}

header.primary nav ul a{
  color:black;
  background-color:#D2B48C;
  padding:5px 7.5px;
  border-radius: 20px;
  text-decoration: none;
  background-color:rgba(0,0,0,.4);
  font-size:.7rem;
  transition: 0.4s;
}

header.primary nav a:hover{
   background-color:rgba(0,0,0,.8);
}

#intro h2{
  color:#000;
  border-bottom:1px dotted #000;
  left:20px;
  top:40px;
}




#content{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 40px 0;
  margin: 30px auto 30px auto;

}

#content .post{
  box-shadow: 0 4px 8px rgba(0,0,0,.8);
  padding:10px;
  font-size:.7rem;
}

#content .post figure{
  margin:0;
}

#content time.post-date{
  text-transform: uppercase;
  font-size:.7rem;
}

#content a{
  color: #D2B48C;
}

#content a:hover{
  text-decoration:none;
}

#practice h2{
  color:#000;
  border-bottom: 1px dotted #000;
}

#practice a{
  color:#D2B48C;
}

#pratice a:hover{
  text-decoration:none;
}

#practice h3{
  border-left: 7.5px solid #000;
  padding: 7.5px;
}

#practice table{
  width:100%;
  border:1px solid #000;
  border-collapse:collapse;   /* when double border, use. cool cool! */
}
#practice caption{
  font-weight: bold;
  font-size: 1.3rem;
  margin: 10px;
}
/* nth-child targets child elements. rad. */
#practice tr:nth-child(even){                   
  background-color: rgba(0, 0, 0, 0.05);
}    

#practice tr:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

#practice td:nth-child(1n+2){
  text-align:right;
}

#practice th{
  background-color:#172635;
  color: #ffffff;
  padding: 5px;
}

#practice td{
  border:1px solid #172635;
  padding:5px;
}

#practice ol{
  list-style-type:lower-roman;
}

#practice ul ul{
  color:#000;
}

#practice dt{
  font-weight: bold;
  margin-top:20px;
}

dd + dt {
  margin-top:20px;
}

#practice dd{
  margin-left:0;
}

#practice blockquote{
  border: 4px double #D2B48C;
  padding:20px 40px;
  margin:40px 80px;
  border-radius:30px 0;
  background-color: #000;
  color:#fff;
  text-shadow:1px 1px #000;
}

#practice blockquote cite{
  display:block;
  font-size:.7rem;
  text-align:right;
  margin-top:20px;
}





aside[role="complementary"]{
  background-color: #D2B48C;
  color: #ffffff;
  padding:40px 0;
}
/* this is what messed me up.*/
aside .container{
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 40px;
}

aside .container a{
  color: #ffffff;
}

aside .container a::hover{
  text-decoration: none;
}

aside .container a:last-child{
  color:#ffffff;
  display: block;
  text-align: right;
  margin-top: 20px;
}

aside .widget footer{
  display:none;
}

#colophon{
  background-color: #D2B48C;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}






/* Media Queries */

@media screen and (max-width: 540px){

  header.primary nav ul{
  flex-direction: column;
  justify-content: space-around;
  gap:10px;
}

header.primary nav ul a{
  display:block;
}

.container{
  background-color: transparent;
  width:100%;
  margin:20px auto;
}

}